
.c3-vis.badges-vis {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;

  table {
    font-family: Gill Sans, Verdana;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    img {
      width: auto;
      height: 48px;
      display: inline-block;
    }
    td:nth-child(1) {
      text-align: left;
      color: darkcyan;
    }
    td:nth-child(2) {
      text-align: center;
      color: darkcyan;
    }
    td:nth-child(3) {
      text-align: center;
      color: darkcyan;
    }
    td:nth-child(4) {
      text-align: right;
    }
  }
}
